*.py text eol=lf
*.rst text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.tsv text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.in text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.html text eol=lf
*.xml text eol=lf
*.geojson text eol=lf
*.ipynb text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
Makefile text eol=lf
*.bat text eol=crlf
