**/*superseded*
**/*tmp*
**/figures/*
**/results/*
**/.DS_Store*
**/.ipynb_checkpoints
**/__pycache__
*.egg-info
*.prof
*.pyc
*.pyo
*.Rhistory
*.sh
.pypirc
.coverage
.coveralls.yml
_build
build
# conftest is used for local testing only
conftest.py
docs/build/*
dist
htmlcov