**/*superseded*
**/*tmp*
**/figures/*
**/results/*
**/.DS_Store*
**/.ipynb_checkpoints
**/__pycache__
*.egg-info
*.prof
*.pyc
*.pyo
*.Rhistory
*.sh
.coverage
.coveralls.yml
.pypirc
_build
build
# conftest is used for local testing only
conftest.py
dist
docs/build/*
htmlcov