# Needed by qsdsan
git+https://github.com/BioSTEAMDevelopmentGroup/thermosteam.git@qsdsan
git+https://github.com/BioSTEAMDevelopmentGroup/biosteam.git@qsdsan
biosteam==2.32.18
thermosteam==0.28.13
SALib
seaborn
sympy

# Specifically for docs
sphinx
sphinx-copybutton
sphinx-design
furo
nbsphinx
ipywidgets
jupyterlab-widgets
widgetsnbextension