# Needed by qsdsan
biosteam>=2.31.23
thermosteam>=0.27.18
SALib
sympy
seaborn

# Specifically for docs
sphinx
nbsphinx
sphinx_rtd_theme
sphinx-copybutton
ipywidgets
jupyterlab-widgets
widgetsnbextension