pyyaml>=5.3.1
pytest-cov>=2.0.1
coveralls>=2.2.0
biosteam>=2.21.14
biorefineries>=2.16.9
sympy>=1.5.1
pint>=0.12
chemicals>=0.1.5
colorpalette>=0.3.1 
matplotlib>=3.1.3
numpy>=1.18.1
xlrd==1.2.0
openpyxl>=3.0.0
free_properties>=0.2.5
flexsolve==0.3.32
numba>=0.50.0
pyglet>=1.4.10
ipykernel>=5.1.4
