# Needed by qsdsan
biosteam>=2.31.18
thermosteam>=0.27.15
scikit-learn
scipy
SALib
matplotlib
seaborn
sympy

# Specifically for docs
sphinx
sphinx_rtd_theme
nbsphinx
ipywidgets
jupyterlab-widgets
widgetsnbextension