# Needed by qsdsan
git+https://github.com/BioSTEAMDevelopmentGroup/thermosteam.git@qsdsan
git+https://github.com/BioSTEAMDevelopmentGroup/biosteam.git@qsdsan
git+https://github.com/QSD-Group/EXPOsan.git
SALib>=1.4.5
seaborn
sympy>=1.8

# Specifically for docs
sphinx
sphinx-copybutton
sphinx-design
furo
nbsphinx
pandoc