# Needed by qsdsan
biosteam==2.29.0
thermosteam==0.25.7
exposan==0.0.17
pint>=0.12
numpy>=1.19.2
ipykernel>=5.3.4
scikit-learn>=0.23.2
SALib>=1.4.0b0
matplotlib>=3.3.2
sympy>=1.7.1

# Packages by others
pytest-cov>=2.0.1
coveralls>=2.2.0
