# Needed by qsdsan
biosteam==2.53.10
git+https://github.com/QSD-Group/QSDsan.git
git+https://github.com/QSD-Group/EXPOsan.git
SALib>=1.4.5
seaborn
sympy>=1.8

# Specifically for docs
sphinx
sphinx-copybutton
sphinx-design
furo
nbsphinx
pandoc