code.literal{
	color: #00A3C5 !important;
	font-size: 85%;
	border: none;
	background: none !important;
	padding: 0;
}

/* green: 26AA5E*/

/* Side bar */
.wy-nav-side p.caption {
	color: #00A3C5 !important;
}
.wy-nav-side code.literal {
	color: #00A3C5 !important;
}

.wy-side-nav-search, .wy-nav-top {
	background: #343131;
  	color: #00A3C5 !important;
}


/* copy button, not really working */
/*
button.copybtn {
	webkit-transition:  opacity .3s ease-in-out;
	-o-transition:  opacity .3s ease-in-out;
	transition:  opacity .3s ease-in-out;
	opacity: 0;
	padding: 2px 6px;
	position: absolute;
	right: 4px;
	top: 4px;
}

div.highlight:hover .copybtn, div.highlight .copybtn:focus {
	opacity: .3;
}
div.highlight .copybtn:hover {
	opacity: 1;
}
div.highlight {
	position: relative;
}
*/

/* tried to make text justified, not really working */
/*
.section #basic-2-flip-flop-synchronizer{
     text-align:justify !important;
}
*/

